*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#0f766e,#059669);

transition:0.3s;

}

body.light{

background:linear-gradient(135deg,#a5f3fc,#67e8f9);

}

.top-bar{

position:absolute;
top:20px;
right:20px;

display:flex;
gap:20px;
align-items:center;

color:white;
font-weight:500;

}

#themeToggle{

border:none;
padding:8px 12px;
border-radius:8px;

cursor:pointer;

}

.login-container{

width:360px;

background:rgba(0,0,0,0.4);

backdrop-filter:blur(10px);

border-radius:16px;

padding:40px;

text-align:center;

color:white;

box-shadow:0 20px 50px rgba(0,0,0,0.3);

}

body.light .login-container{

background:white;
color:#333;

}

h1{

font-size:28px;
margin-bottom:5px;

}

.subtitle{

margin-bottom:30px;
opacity:0.8;

}

input{

width:100%;

padding:14px;

margin-bottom:15px;

border:none;

border-radius:10px;

background:#374151;

color:white;

font-size:14px;

}

body.light input{

background:#f3f4f6;
color:#111;

}

button{

width:100%;

padding:14px;

border:none;

border-radius:10px;

background:linear-gradient(135deg,#22d3ee,#14b8a6);

color:white;

font-size:15px;

font-weight:600;

cursor:pointer;

transition:0.2s;

}

button:hover{

transform:scale(1.03);

}

.demo{

margin-top:10px;

font-size:13px;

opacity:0.7;

}

.error{

margin-top:10px;

color:#f87171;

}

footer{

margin-top:20px;

font-size:12px;

opacity:0.6;

}