*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

/* FONDO PREMIUM */

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

transition:0.3s;

}

/* LIGHT MODE */

body.light{

background:linear-gradient(135deg,#a8edea,#fed6e3);

}

/* BARRA SUPERIOR */

.top-bar{

position:absolute;
top:20px;
right:30px;

display:flex;
gap:15px;
align-items:center;

color:white;
font-weight:500;

}

/* BOTON TEMA */

#themeToggle{

border:none;
padding:8px 14px;

border-radius:10px;

background:rgba(255,255,255,0.2);

color:white;

cursor:pointer;

}

/* CARD LOGIN */

.login-container{

width:360px;

background:rgba(0,0,0,0.35);

backdrop-filter:blur(15px);

border-radius:18px;

padding:40px;

text-align:center;

color:white;

box-shadow:0 25px 60px rgba(0,0,0,0.4);

}

/* LIGHT MODE CARD */

body.light .login-container{

background:white;
color:#333;

}

/* TITULO */

h1{

font-size:28px;
margin-bottom:6px;

}

/* SUBTITULO */

.subtitle{

margin-bottom:30px;
opacity:0.8;

}

/* INPUTS */

input{

width:100%;

padding:14px;

margin-bottom:16px;

border:none;

border-radius:10px;

background:#374151;

color:white;

font-size:14px;

outline:none;

}

/* INPUT LIGHT */

body.light input{

background:#f3f4f6;
color:#111;

}

/* BOTON LOGIN */

button{

width:100%;

padding:14px;

border:none;

border-radius:10px;

background:linear-gradient(135deg,#00d2ff,#3a7bd5);

color:white;

font-size:15px;

font-weight:600;

cursor:pointer;

transition:0.2s;

}

/* HOVER */

button:hover{

transform:scale(1.05);

box-shadow:0 5px 20px rgba(0,0,0,0.3);

}

/* DEMO */

.demo{

margin-top:12px;

font-size:13px;

opacity:0.7;

}

/* ERROR */

.error{

margin-top:10px;

color:#ff6b6b;

}

/* FOOTER */

footer{

margin-top:22px;

font-size:12px;

opacity:0.6;

}