*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

/* FONDO ORIGINAL BONITO */

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#19c6b3,#0f7f68);

}

/* TARJETA LOGIN */

.login-container{

width:360px;

background:#243847;

border-radius:18px;

padding:40px;

text-align:center;

color:white;

box-shadow:0 30px 60px rgba(0,0,0,0.4);

}

/* TITULO */

h1{

font-size:30px;

margin-bottom:6px;

color:#1ce7c2;

}

/* SUBTITULO */

.subtitle{

margin-bottom:30px;

opacity:0.8;

}

/* INPUTS */

input{

width:100%;

padding:14px;

margin-bottom:16px;

border:none;

border-radius:10px;

background:#3b4c5e;

color:white;

font-size:14px;

outline:none;

}

/* BOTON */

button{

width:100%;

padding:14px;

border:none;

border-radius:10px;

background:linear-gradient(135deg,#21e6c1,#12bfa3);

color:#073b36;

font-size:15px;

font-weight:600;

cursor:pointer;

transition:0.2s;

}

/* HOVER */

button:hover{

transform:scale(1.05);

box-shadow:0 5px 20px rgba(0,0,0,0.3);

}

/* DEMO */

.demo{

margin-top:10px;

font-size:13px;

opacity:0.7;

}

/* ERROR */

.error{

margin-top:10px;

color:#ff6b6b;

}

/* FOOTER */

footer{

margin-top:20px;

font-size:12px;

opacity:0.6;

}

/* FECHA Y BOTON TEMA */

.top-bar{

position:absolute;

top:20px;
right:30px;

display:flex;

gap:15px;

align-items:center;

color:white;

font-weight:500;

}

#themeToggle{

border:none;

padding:8px 14px;

border-radius:10px;

background:rgba(255,255,255,0.25);

color:white;

cursor:pointer;

}